*{
    margin: 0;
}
nav{
    height: 80px;
    width: 100%;
    background-color: blue;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 10px;
    line-height: 60px;
}

a:hover{
    text-decoration: none;
    color: aqua;
    font-size: 21px;

}
img{
    height: 200px;
}

h1{
    text-align: center;
}

p{
    margin: 20px 50px;
}
